{% extends 'main/base.html' %}

{% block title%}
Todo Lists
{% endblock %}

{% block content%}
<h1>{{ls.title}}</h1>
<form method="post" action="#">
    {% csrf_token %}
<ul>
{% for item in ls.item_set.all %}
    {% if item.completed == True %}
    <li><input type="checkbox" value="clicked" name="c{{item.id}}" checked="checked">{{item.text}}</input></li>
    {% else %}
    <li><input type="checkbox" value="clicked" name="c{{item.id}}">{{item.text}}</input></li>
    {% endif %}
{%endfor%}
</ul>
    <button type="submit" value="save" name="save">Save</button>
    <input type="text" name="new"/>
    <button type="submit" name="newItem" value="newItem">Add</button>

</form>

{% endblock %}