{% extends 'main/base.html' %}

{% block title%}
Todo Lists
{% endblock %}

{% block content%}
<h1>{{ls.title}}</h1>
<form method="post" action="#">
    {% csrf_token %}

{% for item in ls.item_set.all %}
    <div class="input-group mb-3">
        <div class="input-group-text">
                {% if item.completed == True %}
                <input type="checkbox" value="clicked" name="c{{item.id}}" checked="checked"></input>
                {% else %}
                <input type="checkbox" value="clicked" name="c{{item.id}}">
                {% endif %}
        </div>
        <input type="text" class="form-control" value="{{item.text}}"></input>
    </div>
{%endfor%}
<div class="input-group mb-3">
    <input class="form-control" type="text" placeholder="Add new list" name="new"/>
    <button class="btn btn-success" type="submit" name="newItem" value="newItem">Add</button>
</div>
    <button class="btn btn-success" type="submit" value="save" name="save">Save</button>
</form>

{% endblock %}